@import "tailwindcss";

body {
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(4px) brightness(0.7);
  opacity: 0.8;
  z-index: -1;
}

.beforeBackground {
  position: relative;
}

.beforeBackground::before {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("./assets/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(6px);
  opacity: 1;
  background-color: rgba(26, 25, 25, 0.67);
  background-blend-mode: darken;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.05);
}
